@namespace WebApp.Web.Front.Shared.Layouts
@inherits LayoutComponent

<div class="feed-header">
    <LoginDisplay />
    <div class="feed-header__container column-count_2">
        <div class="feed-header__inner-container">
            <h1 class="feed-header__title">Лента публикаций</h1>
        </div>
    </div>
</div>